<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 contact">
        <h4>Contact Us</h4>
        <p>702-628-5014 Main Hotel</p>
        <p>702-551-1149 Manager</p>
        <p>702-628-5037 Support</p>
      </div>
      <div class="col-md-6 social">
        <h4>Connect With Us</h4>
        <div class="social-icons">
          <a href="https://www.facebook.com">
            <mat-icon class="facebook">facebook</mat-icon>
          </a>
          <a href="https://www.instagram.com">
            <mat-icon class="instagram">instagram</mat-icon>
          </a>
          <a href="https://twitter.com">
            <mat-icon class="twitter">twitter</mat-icon>
          </a>
        </div>
      </div>
    </div>
    <p class="copyright">&copy; 2023 Mysore Mahal. All rights reserved.</p>
  </div>
</footer>
