<div class="body">
    <h1 class="owner"> <strong> Welcome to Owner Dashboard</strong></h1>
    <div class="image2">
        <img style=" border-radius: 20px;width: 100%;"
            src=" https://info.ehl.edu/hubfs/Imported_Blog_Media/Hospitality_Insights_Hotel_Ownership_Alignment.jpg">
    </div>
    <div class="owner">
        <h2>Owner Dashboard</h2>
    </div>
    <div class="dashboard">

        <div class="card guest-card">
            <img style="border-radius: 10px; height: 50%;"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHFe9PX01ekYnZ135DRp77xNOOJdQYX9_0pQ&usqp=CAU"
                alt="Guest Image">
            <div class="card-content">
                <h2 routerLink="/guest2">GUEST</h2>
                <p routerLink="/guest2">Manage guest information</p>
                <button class="custom-button" style="background-color:palegreen;" routerLink="/guest2">VIEW
                    GUESTS</button>
            </div>
        </div>
        <div class="card room-card">
            <img style="border-radius: 10px;height: 50%;"
                src="https://imgcld.yatra.com/ytimages/image/upload/t_seo_Hotel_w_437_h_230_c_fill_g_auto_q_auto:good_f_auto/v1556032873/Hotel/Jaisalmer/00013901/Deluxe_WBulHo.jpg"
                alt="Room Image">
            <div class="card-content">
                <h2 routerLink="/room2">ROOM</h2>
                <p routerLink="/room2">Manage room information</p>
                <button class="custom-button" style="background-color:palegoldenrod;" routerLink="/room2">VIEW
                    ROOM</button>
            </div>
        </div>
        <div class="card room-card">
            <img style="border-radius: 10px; height: 50%;"
                src="https://images.pexels.com/photos/7820308/pexels-photo-7820308.jpeg?auto=compress&cs=tinysrgb&w=600"
                alt="reservation Image">
            <div class="card-content">
                <h2 routerlink="/reservation2">RESERVATION</h2>
                <p routerLink="/reservation2">Manage Reservations</p>
                <button class="custom-button" style="background-color: palevioletred;" routerLink="/reservation2">VIEW
                    RESERVATION</button>
            </div>
        </div>
        <div class="card room-card">
            <img style="border-radius: 10px; height: 50%;"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsgm7jcsjtCx6cX_QxoWtYlAhhZKu2pJKsuA&usqp=CAU"
                alt="Inventory Image">
            <div class="card-content">
                <h2 routerLink="/inventory2">INVENTORY</h2>

                <p routerLink="/inventory2">Manage inventory information</p>
                <button class="custom-button" style="background-color:lavender;" routerLink="/inventory2">VIEW
                    INVENTORY</button>
            </div>
        </div>
        <div class="card guest-card">
            <img style="border-radius: 10px; height: 50%;"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzTfU-XUufRb1OE8vph6d6dMQZygeso6r99w&usqp=CAU"
                alt="Staff Image">
            <div class="card-content">
                <h2 routerLink="/staff2">STAFF</h2>
                <p routerLink="/staff2">Manage staff information</p>
                <button class="custom-button" style="background-color:lightcoral;" routerLink="/staff2">VIEW
                    STAFF</button>
            </div>
        </div>
    </div>
</div>