<div class="banner-image  d-flex justify-content-center align-items-center">
    <div class="content text-center">
        <br><br>
        <div class="text-size-h1 text-blaack">DISCOVER THE LUXURY</div><br>
        <h3>
            <p class="text-White"> <b> Experience Seamless Room Booking with Our Hotel Management System (HMS). Plan
                    Your Perfect Getaway Today!</b></p>
        </h3><br>
        <button class="button-css text-black" routerLink="/aboutus">Read more</button>
    </div>

</div>