<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Success</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            text-align: center;
            padding: 20px;
        }

        .success-message {
            background-color: #4CAF50;
            color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            display: inline-block;
        }

        .success-icon {
            font-size: 48px;
        }
    </style>
</head>
<body>
    <div class="success-message">
        <span class="success-icon">&#10004;</span>
        <h1>Transaction Successful</h1>
        <p>Your payment has been successfully processed. Thank you! </p>
    </div>



    <div class="back">
        <button class="btn toggle-button">
            <a href="/reservation" style="color: wheat;">->Back</a>
        </button>
    </div>
</body>
</html>
