<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

</head>

<body>
    <div class="contact-us-container">
        <h2>Contact Us</h2>

        <div class="contact-card">
            <div class="contact-info">
                <img class="contact-avatar" src="assets/contactus/1.png" alt="SUSHMITHA">
                <div class="contact-details">
                    <h3>SUSHMITHA</h3>
                    <p><strong>OWNER</strong></p>
                    <p>Email: Sushmitha@hotel.com</p>
                </div>
            </div>
        </div>

        <div class="contact-card">
            <div class="contact-info">
                <img class="contact-avatar" src="assets/contactus/2.png" alt="JADHAV">
                <div class="contact-details">
                    <h3>JADHAV</h3>
                    <p><strong>MANAGER</strong></p>
                    <p>Email: jadhav@hotel.com</p>
                </div>
            </div>
        </div>

        <div class="contact-card">
            <div class="contact-info">
                <img class="contact-avatar" src="assets/contactus/3.png" alt="RISHITHA">
                <div class="contact-details">
                    <h3>RISHITHA</h3>
                    <p><strong>MANAGER</strong></p>
                    <p>Email: Rishitha@hotel.com</p>
                </div>
            </div>
        </div>

        <div class="contact-card">
            <div class="contact-info">
                <img class="contact-avatar" src="assets/contactus/5.png" alt="MANASA">
                <div class="contact-details">
                    <h3>MANASA</h3>
                    <p><strong>Receptionist</strong></p>
                    <p>Email: Manasa@hotel.com</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>